@use "../base/typography" as type;
@use '../utilities/functions';
@import '../utilities/mixins';

.footer {
    width: 100%;
    height: auto;
    bottom: 0;
    padding: var(--size-6);

    @include themify($themes) {
        background-image: themed('bannerBkgdGradient');
        border-block-start: var(--size-2) solid themed('bannerBorderColor');
    }

    p {
        margin-inline: auto;
        text-align: center;
    }
}