@use "../base/typography" as type;
@use '../utilities/themes' as var;



.title {
    font-family: type.$display-font;
    width: 100%;
    text-align: center;
    display: block;
    padding-block-start: var(--size-4);
    border-block-end-width: var(--size-2);
    border-block-end-style: solid;
    background-image: var(--banner-bkgd);
    border-block-end-color: var(--banner-border);
    
    
    &__main {
        font-size: var(--font-size-fluid-3);
        margin-inline: auto;
        color: var(--text-display);
        
    }

    &__author {
        margin-inline: auto;
        margin-block-start: var(--size-4);
        font-size: var(--font-size-fluid-1);
        color: var(--text-body);
        
    }
}
