@use "../base/typography" as type;
@use '../utilities/functions';
@use "../utilities/mixins";
@use '../utilities/themes' as var;

.poem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: type.$body-font-wght;
    min-height: 70vh;

    @include mixins.themify(var.$themes) {
        background-color: themed('mainColor');
        color: themed('textBodyColor');
    }

    &__img {
        width: 100%;
        max-width: var(--size-fluid-10);
        margin: var(--size-fluid-2);
    }

    &__poem {
        margin-block: var(--size-6);
        box-shadow: var(--shadow-2);
        padding: var(--size-8);
        border-inline-start-width: var(--border-size-5);
        border-inline-start-style: solid;

        @include mixins.themify(var.$themes) {
            background-color: themed('secondaryColor');
            border-inline-start-color: themed('bannerBorderColor');
        }

        &--line {
            font-size: var(--font-size-fluid-2);
        }
    }
}

@media (min-width: 900px) {
    .poem-container {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;

        &__img {
            margin-inline: 0;
        }
    }
}