@use "../base/typography" as type;
@use '../utilities/themes' as var;

.poem-container {
    font-family: type.$body-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: type.$body-font-wght;
    min-height: 70vh;
    background-color: var(--primary);
    color: var(--text-body);
    

    &__img {
        width: 100%;
        max-width: var(--size-fluid-10);
        margin: var(--size-fluid-2);
    }

    &__poem {
        margin-block: var(--size-6);
        box-shadow: var(--shadow-2);
        padding: var(--size-8);
        border-inline-start-width: var(--border-size-5);
        border-inline-start-style: solid;
        background-color: var(--secondary);
        border-inline-start-color: var(--banner-border);
        

        &--line {
            font-size: var(--font-size-fluid-2);
        }
    }
}

@media (min-width: 900px) {
    .poem-container {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;

        &__img {
            margin-inline: 0;
        }
    }
}