@use '../../../node_modules/open-props/easings.min.css';

//should reorganize... nests too far

.theme-toggle {
    padding-block: var(--size-3);
    display: flex;
    justify-content: center;
    gap: 1rem;
    
    button {
        padding-inline: 1rem;
        padding-block: .2rem;
        background-color: var(--secondary);
        color: var(--text-display);
    }

    button:hover {
        background-color: var(--primary);
        color: var(--text-body);
    }

    
}

.arrow {
    margin-inline: auto;
    width: 2rem;
    height: 2rem;
    border-inline-end: .5rem solid var(--text-body);
    border-block-end: .5rem solid var(--text-body);
    transform: rotate(45deg);

    @media (prefers-reduced-motion: no-preference) {
        transition: transform 500ms var(--ease-squish-2);
    }
}

.app.dark .arrow {
    transform: translateX(-.5rem) rotate(45deg);
}

.app.light .arrow {
    transform: translateX(-5.7rem) rotate(45deg);
}

.app.system .arrow {
    transform: translateX(5.3rem) rotate(45deg);
}