@use '../utilities/themes' as var;
@use '../../../node_modules/open-props/easings.min.css';

//should reorganize... nests too far

.toggle {
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    inset-inline-end: var(--size-fluid-2);
    inset-block-start: var(--size-fluid-2);

    inline-size: 4rem;
    block-size: 4rem;
    aspect-ratio: 1;
    border-radius: 50%; 

    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;

    outline-offset: 5px;

    @media (hover: none) {
        inline-size: 6rem;
        block-size: 6rem;
    }
    
    .icon {
        inline-size: 100%;
        block-size: 100%;
        color: var(--icon-fill);

        &__moon > circle {
            transform: translateX(5px);
        }

        &__moon, &__sun, &__sun--sun-beams {
            transform-origin: center center;
        }

        @media (prefers-reduced-motion: no-preference) {
            &__sun {
                transition: transform .5s var(--ease-elastic-3);

                &--sun-beams {
                    transition: 
                        transform .5s var(--ease-elastic-4),
                        opacity .5s var(--ease-3);
                }
            }

            &__moon > circle{
                transition: transform .25s var(--ease-out-5);

                @supports (cx: 1) {
                    transition: cx .25s var(--ease-out-5);
                }
            }
        }
    }

    &:hover .icon {
        color: var(--icon-fill-hover);
    }

    &[aria-label='dark'] .icon {
        &__sun {
            transform: scale(1.25);

            &--sun-beams {
                opacity: 0;
            }
        }

        &__moon > circle {
            transform: translateX(-10px);
        }

        @media (prefers-reduced-motion: no-preference) {
            &__sun {
                transform: scale(1.25);
                transition-timing-function: var(--ease-3);
                transition-duration: .25s;

                &--sun-beams {
                    transform: rotateZ(-25deg);
                    transition-duration: .15s;
                }
            }

            &__moon > circle{
                transition-delay: .25s;
                transition-duration: .5s;
            }
        }

    }
}
