//normal/light mode

// $themes: (
//     $light-theme: (
//         $main: var(--blue-2),
//         $secondary: var(--blue-1),
        
//         $text-display: var(--gray-7),
//         $text-body: var(--gray-8),
        
//         $banner-bkgd: var(--gradient-15),
//         $banner-border: var(--red-2),
//     ),
//     $dark-theme: (
//         $main: var(--indigo-9),
//         $secondary: var(--indigo-8),
        
//         $text-display: var(--gray-4),
//         $text-body: var(--gray-3),
        
//         $banner-bkgd: var(--gradient-3),
//         $banner-border: var(--green-5),
//     )
// )

$main-l: var(--blue-2);
$secondary-l: var(--blue-1);

$text-display-l: var(--gray-7);
$text-body-l: var(--gray-8);

$banner-bkgd-l: var(--gradient-15);
$banner-border-l: var(--red-2);


$main-d: var(--indigo-9);
$secondary-d: var(--indigo-8);

$text-display-d: var(--gray-4);
$text-body-d: var(--gray-3);

$banner-bkgd-d: var(--gradient-3);
$banner-border-d: var(--green-5);


