@use '../utilities/variables' as var;
@use '../base/typography' as type;
@use '../components/header';
@use '../components/poem';
@use '../components/footer';


body {
    font-family: type.$body-font;
    background-color: var.$main;
    color: var.$text-body;
}

